<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 

<title>登录</title>
<link href="statics/assets/css/login.css" type="text/css" rel="stylesheet">
</head> 
<body> 
<div class="div_top">OA日常办公管理系统</div>
<div class="login">
    <div class="message" >用户登录</div>
		<input name="username" placeholder="用户名" required="" type="text" id="username">
		<hr class="hr15">
		<input name="password" placeholder="密码" required="" type="password" id="password">
		<hr class="hr15">
		<input value="登录" style="width:100%;" type="button" onclick="login()" id="login_btn">
		<hr class="hr20">
		  <a onClick="alert('请联系管理员')">忘记密码</a>
</div>

<div class="copyright">版权所有@<span style="color:#f77118">2019 </span>杭州星辉科技股份集团有限公司</div>
<script type="text/javascript" src="statics/assets/js/jquery.js"></script>
<script type="text/javascript">
	function login(){
		console.log("ssss");
		var username = $('#username').val();
		var password = $('#password').val();
		console.log("username=" + username + "&password=" + password);
		var data = "username=" + username + "&password=" + password;
		$.ajax({
			type: "POST",
			url: "signIn",
			data: data,
			dataType: "json",
			success: function (result) {
				if (result.code == 100) {//登录成功
					console.log(result);
					location.href = parent.location.href = 'index';
				} else {
					alert(result.message);
				}
			}
		});
	}
</script>
</body>
</html>