<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="statics/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="statics/assets/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="statics/assets/css/base.css" />
    <link rel="stylesheet" href="statics/assets/css/info-mgt.css" />
    <style>
        .layui-layer-title{background:url(statics/assets/images/righttitlebig.png) repeat-x;font-weight:bold;color:#46647e; border:1px solid #c1d3de;height: 33px;line-height: 33px;}
        .tabe_bot label{width: 70px;text-align: right;font-size: 14px;font-weight: 900;color: #46647e}
        .l_left{float: left;margin-left: 2px;}
        .tabe_bot input,.tabe_bot  select{width: 180px;height: 30px;border-radius: 6px;margin:0 20px 0 0;border: none;border: 1px #ccc solid}
        .tabe_btn{width: 60px;height: 30px;background-color: #68b86c;border: none;border-radius: 6px;color: #fff}
    </style>
    <title>邮件管理</title>
</head>
<body onload="RecycleInf()">
<div class="emal_left">
    <input type="text" id="id" style="display: none" value>
    <div class="email_top">
        <a href="#" class="a_border" onclick="clickEmail()"><i class="get_i"></i> 收信</a>
        <a href="#" onclick="openlayer()"><i class="write_i"></i>写信</a>
    </div>
    <ul class="email_ul" id="htmlEmail">
        <li style="display: none" class="li_active">收件箱(<b id="inBoxSum"></b>)<span id="inBoxCount"></span></li></a>
        <li style="display: none">草稿箱<span>12</span></li>
        <li style="display: none">已发送<span>12</span></li>
        <li onclick="clickRecycle()">回收站(<b id="recycleSum"></b>)<span id="recycleCount"></span></li>
        <li>
            <font size="3"><b id="sendersName" style="text-overflow:ellipsis"></b></font><br>
            <font size="2"><b id="emailsTitle"></b></font>.........<font size="2"><b id="sendsTime"></b></font><br>
            <font size="2"><b id="emailsContent"></b></font>
        </li>
        <li>已发送<span>12</span></li>
        <li>已发送<span>12</span></li>
        <li>已发送<span>12</span></li>
    </ul>
</div>
<div class="emal_right" id="show">
    <div  class="email_con" >
        <div class="title"><h2>收件箱</h2></div>
        <div class="query">
            <div class="tabe_bot">
                <div class="l_left"><label>邮件标题：</label><input type="text" id="emailTitles" placeholder="请输入邮件标题"></div>
                <div class="l_left"><label>是否查看：</label><input id="isMsgs" placeholder="请输入是或者否" /></div>
                <div class="l_left"><label>发送时间：</label><input id="sendTimes" placeholder="请输入发送时间" /></div>
                <button class="tabe_btn">查询</button>
                <div class="clear"></div>
            </div>
        </div>
        <div class="table-operate ue-clear">
            <!--<a href="#" class="sent01"  onclick="openlayerEquery(id)">转发</a>
           &lt;!&ndash; <a href="javascript:;" class="del">删除</a>&ndash;&gt;
            <a href="#" onclick="openlayerEquery(id)" class="back">回复</a>-->
            <a href="javascript:;" class="out" onclick="exportEmails()">导出</a>
        </div>
        <div class="table-box">
            <table id="table" class="table_style"></table>
        </div>
        <div class="pagination ue-clear"></div>
    </div>
    <div  class="email_con">
        <div class="title"><h2>草稿箱</h2></div>
        <div class="query">
            <div class="tabe_bot">
                <div class="l_left"><label>邮件标题：</label><input type="text" placeholder="请输入邮件名称"></div>
                <div class="l_left"><label>是否查看：</label><select>
                    <option>查看</option>
                    <option>未查看</option>
                </select></div>
                <div class="l_left"><label>发送时间：</label><input id="demo01" placeholder="输入提交时间" /></div>
                <button class="tabe_btn ">查询</button>
                <div class="clear"></div>
            </div>
        </div>
        <div class="table-operate ue-clear">
            <a href="#" class="sent01"  onclick="openlayer()">发送</a>
            <a href="javascript:;" class="del">删除</a>
            <!--<a href="javascript:;" class="back">回息</a>-->

            <a href="javascript:;" class="out">导出</a>
        </div>
        <div class="table-box">
            <table id="table01" class="table_style"></table>
        </div>
        <div class="pagination ue-clear"></div>
    </div>
    <div  class="email_con">
        <div class="title"><h2>已发送</h2></div>
        <div class="query">
            <div class="tabe_bot">
                <div class="l_left"><label>邮件标题：</label><input type="text" placeholder="请输入邮件名称"></div>
                <div class="l_left"><label>是否查看：</label><select>
                    <option>查看</option>
                    <option>未查看</option>
                </select></div>
                <div class="l_left"><label>发送时间：</label><input id="demo02" placeholder="输入提交时间" /></div>
                <button class="tabe_btn ">查询</button>
                <div class="clear"></div>
            </div>
        </div>
        <div class="table-operate ue-clear">
            <a href="#" class="sent01"  onclick="openlayer()">发送</a>
            <a href="javascript:;" class="del">删除</a>
            <!--<a href="javascript:;" class="back">回息</a>-->

            <a href="javascript:;" class="out">导出</a>
        </div>
        <div class="table-box">
            <table id="table02" class="table_style"></table>
        </div>
        <div class="pagination ue-clear"></div>
    </div>
    <div  class="email_con" style="display: block">
        <div class="title"><h2>回收站</h2></div>
        <div class="query">
            <div class="tabe_bot">
                <div class="l_left"><label>邮件标题：</label><input type="text" id="emailsTitles" placeholder="请输入邮件标题"></div>
                <div class="l_left"><label>是否查看：</label><input id="issMsgs" placeholder="请输入是或者否" /></div>
                <div class="l_left"><label>发送时间：</label><input id="sendsTimes" placeholder="请输入发送时间" /></div>
                <button class="tabe_btn " onclick="getEmailRecycleTableData()">查询</button>
                <div class="clear"></div>
            </div>
        </div>
        <div class="table-operate ue-clear">
            <!--<a href="#" class="sent01"  onclick="openlayer()">还原</a>
            <a href="javascript:;" class="del">删除</a>-->
            <!--<a href="javascript:;" class="back">回息</a>-->
            <a href="javascript:;" class="out" onclick="exportRecycleEmails()">导出</a>
        </div>
        <div class="table-box">
            <table id="table03" class="table_style"></table>
        </div>
        <div class="pagination ue-clear"></div>
    </div>
</div>
</body>
<script type="text/javascript" src="statics/assets/js/jquery.js"></script>
<script src="statics/assets/js/bootstrap.min.js"></script>
<script src="statics/assets/js/bootstrap-table.js"></script>
<script src="statics/assets/js/bootstrap-table-zh-CN.min.js"></script>
<script src="statics/assets/js/date/js/laydate.js"></script>
<script src="statics/assets/js/date/js/laydate.js"></script>
<script src="statics/assets/js/layer_v2.1/layer/layer.js"></script>
<script src="statics/assets/js/emailRecycle.js"></script>
<script>
    function clickRecycle(){debugger;
        alert("点击成功")
        $.ajax({
            type: "GET",
            url: "email/emailsRecyclesInfmormations/",
            dataType: "json",
            success: function (result) {
                if (result.code == 100) {debugger;
                    $.each(result.data,function (index, value) {debugger;
                        if (index%4==0){
                            var htmlEmail="";
                            $('#htmlEmail').append('<li>已发送<span>12</span></li>');
                            htmlEmail+='<ul class="email_ul" id="htmlEmail">' +
                                '<li>' +
                                '<font size="3">eeffefef<b id="senderNames" style="text-overflow:ellipsis"></b></font><br>'+
                                '<font size="2">effef<b id="emailTitle"></b></font>....<font size="2"><b id="sendTime">gerrg</b></font><br>'+
                                '<font size="2">fegggggg<b id="emailContent"></b></font>'+
                                ' </li>'+
                                '</ul>'
                            $('#htmlEmail').append(htmlEmail);
                        }
                        if(index==0||index%4==0){
                            if(value.length<=9){
                                $("#senderName").text(value);
                            }else{
                                var sendersNames = value.substring(0,9)+"......";
                                $("#senderName").text(sendersNames)
                            }
                        }
                        if(index==1||index%4==1) {
                            if(value.length<=6){
                                $("#emailTitle").text(value);
                            }else{
                                var emailTitles = value.substring(0,6)+"..........";
                                $("#emailTitle").text(emailTitles)
                            }
                        }
                        if(index==2||index%4==2) {
                            if(value.length<=11){
                                $("#sendTime").text(value);
                            }else{
                                var sendTimes = value.substring(0,11)+"..........";
                                $("#sendTime").text(sendTimes)
                            }
                        }
                        if(index==3||index%4==3) {
                            if (value.length <=10) {
                                $("#emailContent").text(value);
                            } else {
                                var emailContents = value.substring(0,10) + "..........";
                                $("#emailContent").text(emailContents)
                            }
                        }

                    });

                }

            }
        });
    }
</script>
<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "email/emailInBoxSumOrCount/",
            dataType: "json",
            success: function (result) {
                if (result.code == 100) {
                    $.each(result.data, function (index, value) {
                        if(index==0) {
                            $('#inBoxSum').html(value);
                        }
                        if(index==1) {
                            $('#inBoxCount').html(value);
                        }
                    });
                }else {
                }
            }
        });
        $(".email_ul li").each(function (index) {
            $(this).on("click",function () {
                $(".emal_right .email_con").eq(index).fadeIn().siblings("div").stop().hide();
                $(this).addClass("li_active");
                $(this).siblings().removeClass("li_active");

            })
        })
        $.ajax({
            type: "GET",
            url: "email/emailRecycleSumOrCount/",
            dataType: "json",
            success: function (result) {
                if (result.code == 100) {
                    $.each(result.data, function (index, value) {
                        if(index==0) {
                            $('#recycleSum').html(value);
                        }
                        if(index==1) {
                            $('#recycleCount').html(value);
                        }
                    });
                }
            }
        });
    })
</script>
<script>
    !function(){
        laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
        laydate({elem: '#sendsTimes',istime:true,format: 'YYYY-MM-DD hh:mm:ss'});//绑定元素
    }();
</script>
</html>
