<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .password {
            width: 260px;;
            height: 25px;
            line-height: 25px;
            margin: 9px 10px;
        }

        .modif {
            width: 300px;

        }

        #modif_btn {
            width: 40px;
            background-color: #4485fd;
        }

        #darkbannerwrap {
            text-align: center;
            color: red;
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="modif">
    <input name="oldPassword" placeholder="旧密码" required="" type="password" id="oldPassword" class="password">
    <input name="newPassword" placeholder="新密码" required="" type="password" id="newPassword" class="password">
    <input name="password" placeholder="确认新密码" required="" type="password" id="password" class="password">
    <div id="darkbannerwrap"></div>
    <input value="确定修改" style="width:100%;" type="button" onclick="modification()" id="modif_btn">
</div>
<script type="text/javascript" src="statics/assets/js/jquery.js"></script>
<script type="text/javascript">
    function modification() {
        var oldPassword = $('#oldPassword').val();
        var newPassword = $('#newPassword').val();
        var password = $('#password').val();
        var data = "oldPassword=" + oldPassword + "&newPassword=" + newPassword+"&password="+password;
        $.ajax({
            type: "POST",
            url: "user/change",
            data: data,
            dataType: "json",
            success: function (result) {
                if (result.code == 100) {//登录成功
                    console.log(result);
                    $('#darkbannerwrap').html("修改成功！");
                    // location.href = parent.location.href = 'index';
                } else {
                    $('#darkbannerwrap').html(result.message);
                }
            }
        });
    }
</script>
</body>
</html>