.clear:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.left{
float:left;
}
.right{
float:right;
}

.l-modal-bg,
.l-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    transition: all .3s;
    -webkit-transition: all .3s;
    display: none;
    opacity: 0;
    filter: Alpha(opacity=0)
}

.l-modal-bg {
    background: #000;
}

.l-modal {
    font-size: 0;
    text-align: center;
    transform: scale3d(0.8, 0.8, 0.8);
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
}

.l-modal-bg.active {
    opacity: 0.4;
    filter: Alpha(opacity=40)
}

.l-modal.active {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: Alpha(opacity=100)
}

.l-modal:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.l-modal>div {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    background: #fff;
    border-radius: 7px;
    max-height: 90%;
    overflow: auto;
    position: relative;
}

.l-modal .l-modal-close {
    background-image: url("../image/icon.png");
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
    background-position: 1px -40px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    opacity: 0.4;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.l-modal .l-modal-close:hover {
    opacity: 0.7;
}

.l-modal-query {
    min-width: 320px;

}

.l-modal-title {
    height: 68px;
    line-height: 68px;
    margin-top: -10px;
    font-size: 17px;
    color: #1e1e1e;
    text-align: center;
}

.l-modal-content {
    padding: 0 50px;
    color: #1e1e1e;
    text-align: left;
}

.l-modal-btns {
    text-align: center;
    margin: 30px 0 40px;
}

.l-modal-btn {
    width: 60px;
    height: 30px;
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.l-modal-sure {
    background: #4485fd;
    border: 1px solid #4485fd;
}

.l-modal-cancel {
    background: #C8C8C8;
    border: 1px solid #C8C8C8;
    margin-left: 20px;
}
 .partBox {
     position: absolute;
     background: #fff;
     top: 100%;
     z-index: 1;
     border: 1px solid #ccc;
     padding: 10px 20px;
     white-space: nowrap;
     left: 90px;
     margin-top: 10px;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
 }
.grid-search .form-group>span {
    width: 90px;
}
.l-modal-query{
    width: 750px;
    height: 500px;
}
.grid-search .form-group>input,
.grid-search .form-group>select {
    width: 160px!important;
}
.formdiv{
    margin-bottom: 20px;

}
.formdiv label{
    margin-right: 5px;
}
.formdiv input{
    border-radius: 5px;
    width:150px;
    height: 26px;
    border:1px solid #d2d2d2;
    padding:0 10px;
}
.formdiv select{
    border-radius: 5px;
    width:150px;
    height: 26px;
    border:1px solid #d2d2d2;
    padding:0 10px;
}
textarea{
    width:600px;
    height:200px;
    border-radius: 5px;
    border:1px solid #d2d2d2;
    padding:0 10px;
    resize:none;
}
.checkbox{
    width:500px;

}
.checkbox input{
    width:15px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 14px;
    position:inherit;
}
.checkbox label{
    width:80px;
    height:20px;
    line-height:20px;
}
.sendtime input[type=radio]{
    width:15px;
    height: 15px;
}
.radiobox input[type=radio]{
    width:15px;
    height: 15px;

}
.radiobox >div{
    margin-right:30px;
}
.memberbox{
    width:450px;
    margin-left:10px;
}
.memberbox input[type=checkbox]{
    width:15px;
    height:15px;
}
.member{
    min-width:70px;
}
.organizition{
    width: 180px;
    position: relative;
    min-height: 100px;
}
#deptListTree{
    width: 90px;
    position: absolute;
    left: 0;
    top: 0;
}
#childtree{
    width: 90px;
    min-height: 100px;
    position: absolute;
    left: 20px;
    top: 25px;
}
#deptListTree input[type=checkbox]{
    width: 15px;
    height: 15px;
    float: left;
    margin: 3px 3px 0 0;
}
#deptListTree div{
    cursor:pointer;
}
#childtree input[type=checkbox]{
    width: 15px;
    height: 15px;
    float: left;
    margin: 3px 3px 0 0;
}
#childtree div{
    cursor:pointer;
}
.memberlist{
    wdith:450px;
    margin-left:30px;
}
.memberlist span{
    margin-right:30px;
}